.hero {
    background: linear-gradient(90deg, #0a192f 40%, #132a4e 100%);
    color: #fff;
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #0b1c33;
    color: #a0aec0;
    padding: 50px;
}